/**
 * @file
 * Styles for the vopros_embed popup.
 */

body {
  font-family: Arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: #f6f6f6;
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat;
}

#page,
#main-wrapper {
  background-color: transparent;
}

.header {
  background-image: url(../images/logo.png);
  background-position: right top;
  background-repeat: no-repeat;
  height: 35px;
  margin-bottom: 60px;
}

h1#page-title {
  font-size: 1.5em;
  padding: 7px 0;
}

@media all AND (min-width: 500px) {
  form > div {
    display: table;
    width: 100%;
  }
  .answer_type {
    display: table-cell;
    width: 200px;
    float: none;
    vertical-align: top;
  }
  .answer_details {
    display: table-cell;
    float: none;
    width: auto;
    vertical-align: top;
    padding-left: 10px;
  }
}

@media all AND (min-width: 500px) {
  .answer_type {
    /* float: left; */
    /* width: 150px; */
    /* max-width: 200px; */
  }
}

/* .answer_details { */
/*   float: left; */
/*   width: 100%; */
/* } */

.form-item {
  margin-top: 0;
}

.form-required {
  color: #01c676;
}

.form-item label {
  font-family: Arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
}

.form-item input {
  border: 2px solid #01c676;
  border-radius: 2px;
}

.form-item textarea {
  border: 0;
  background-color: white;
}

.resizable-textarea .grippie {
  background-color: white;
  border: 0;
}

.form-item-user-answer-preference .form-radios .form-item {
  margin: 0 0 1em;
}

.form-item-user-answer-preference .form-item label {
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: table;
  background: #01c676;
  color: white;
  cursor: pointer;
  width: 100%;
}

.form-item-user-answer-preference .form-item label span {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
}

.form-item-user-answer-preference .form-item label .fa-angle-right {
  display: table-cell;
  background-color: #01a863;
  vertical-align: middle;
  font-weight: bold;
}

.form-item-user-answer-preference .active_answer_type label {
  background: #01a863;
  color: #ddd;
}

.form-item-user-answer-preference .disabled_answer_type label,
.form-item-user-answer-preference .form-disabled label {
  color: white;
  background: #aee8d0;
  cursor: default;
}

.form-item-user-answer-preference .disabled_answer_type label .fa-angle-right,
.form-item-user-answer-preference .form-disabled label .fa-angle-right {
  background: #aedfca;
}

.form-item-question-content label {
  display: block;
  padding: 12px;
  background: #01c676;
  color: white;
}

input.form-submit {
  border: 0;
  border-radius: 0;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  /* display: table; */
  background: #01c676;
  color: white;
  cursor: pointer;
}

input.form-submit:hover {
  background: #01c676;
}

.chat-status-message .fa-exclamation-triangle {
  color: #01c676;
}

.form-item-question-deadline  .form-item input {
  display: none;
}

.form-item-question-deadline .form-item label:before {
  color: #01c676;
  padding-right: 10px;
  /* Copied directly from FontAwesomes CSS. */
  font-family: 'FontAwesome';
  content: "\f10c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* And this is .fa-lg. */
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;

}

.form-item-question-deadline .form-item.checked label:before {
  content: "\f111";
}